* {
	box-sizing: border-box;
}

body {
	margin: 0px;
}

.background {
	background: url("images/bg-mobile.svg"); 
	background-color: hsl(257, 40%, 49%);
	background-repeat: no-repeat;
	background-size: contain;

}

.logo {
	max-width: 35%;
	margin: 30px 50px;
}

.mockups {
	max-width: 82%;
	margin: 20px 0px 30px 30px;
}

.container-two {
	margin: 3em;
	margin-top: 1em;
	text-align: center;
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 1.5em;
	font-weight: 500;
	margin-bottom: .5em;
}

p {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: lighter;
	margin-bottom: 1.5em;
}

h1,
p,
footer,
a {
	color: white;
	text-decoration: none;
}

footer {
	font-size: .8em;
	text-align: center;
}

.credit {
	opacity: 40%;
}

button {
	color: hsl(257, 40%, 49%);;
	background-color: white;
	padding: 10px 80px;
	border-radius: 20px;
}

.social {
	font-size: 2em;
	margin: 60px 0px;
}

/*Media Query*/

@media screen and (min-width: 767px) {

.background {
	background: url("images/bg-desktop.svg");
	background-color: hsl(257, 40%, 49%); 	
	background-size: auto;

}

.flexbox {
	display: flex;
	align-items: center;
}

.logo {
	max-width: 15%;
	margin: 50px;
}

.mockups {
	margin: 0px;
}

.container-one {
	margin-top: ;
	margin-left: 50px;
	align-self: center;
}

.container-two {
	border: 1px solid red;
	flex-basis: 30%;

	margin: 0px;
}

h1 {
	font-size: 1.5em;
	font-weight: 600;
	margin-bottom: 1em;
}

p {
	font-size: 1em;
}

